<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<!-- root 权限 + 脱离沙盒 -->
	<key>platform-application</key>
	<true/>
	<key>com.apple.private.security.no-sandbox</key>
	<true/>
	<key>get-task-allow</key>
	<true/>
	<key>task_for_pid-allow</key>
	<true/>
	<!-- 触摸注入核心：HID 事件派发/监听/管理 -->
	<key>com.apple.private.hid.manager.client</key>
	<true/>
	<key>com.apple.private.hid.client.service-protected</key>
	<true/>
	<key>com.apple.private.hid.client.event-monitor</key>
	<true/>
	<key>com.apple.private.hid.client.event-dispatch</key>
	<true/>
	<key>com.apple.private.hid.client.event-filter</key>
	<true/>
	<!-- 内存保护 -->
	<key>com.apple.private.kernel.jetsam</key>
	<true/>
	<key>com.apple.private.memorystatus</key>
	<true/>
	<!-- IOKit 用户客户端访问（触摸 HID + 屏幕捕获 framebuffer） -->
	<key>com.apple.security.iokit-user-client-class</key>
	<array>
		<string>IOHIDEventService</string>
		<string>IOHIDEventServiceFastPathUserClient</string>
		<string>IOHIDLibUserClient</string>
		<string>IOMobileFramebufferUserClient</string>
		<string>IOSurfaceRootUserClient</string>
		<string>AppleMultitouchHIDEventDriverV2</string>
	</array>
</dict>
</plist>
